h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.card {
    height: 380px;
}

.card-title {
    font-weight: bold !important;
    font-size: 15px !important;
    line-height: 20px !important;
}

.logo {
    width: 150px;
}